<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redireciona requisições para a pasta API diretamente para os arquivos PHP
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^api/(.*)$ api/$1.php [L]
</IfModule>